###############################
# BACKEND (Python / Flask)
###############################

# Python virtual environment
venv/

# Environment variables
backend/.env

# Large datasets
backend/filtered_2020_english.csv
backend/filtered_old_dataset_english.csv

# Compiled Python files
*.pyc

# Pycache
__pycache__/
backend/__pycache__/
backend/app/__pycache__/
backend/app/*/__pycache__/
backend/scripts/__pycache__/

# Model artifacts (optional)
backend/app/ml/models/*.pkl

# Alembic migration cache
backend/migrations/*.pyc

###############################
# EDITOR / OS FILES
###############################

# VSCode
.vscode/*
!.vscode/extensions.json

# JetBrains
.idea

# OS junk files
.DS_Store

# Visual Studio junk files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
